*{
      margin: 0;
      padding: 0;
}

.navbar{
      background-color: black;
      color: white;
      display: flex;
      justify-content: space-between;
}

.nav-right{
      display: flex;
      justify-content: flex-end;
}

.brand-name h1{
      font-family: 'Poppins', sans-serif;
      margin: 10% 20%;
}

.navbar img{
      width: 3rem;
      margin: 1rem 3rem;
      cursor: pointer;
}

.navbar button{
      border: none;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      background-color: inherit;
      color: white;
}

